{% extends "metrix/base.html" %}
{% block content %}
  <h2 class="mb-4">Dashboard</h2>

  <a href="{% url 'add-research' %}" class="btn btn-primary mb-3">Create new project</a>

  {% if page_obj %}
    <div class="table-responsive">
      <table class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Name</th>
            <th>Created at</th>
            <th>Participants</th>
            <th>Questions</th>
            <th class="text-nowrap text-center" style="width: 1%;">Test</th>
            <th class="text-nowrap text-center" style="width: 1%;">Info</th>
            <th class="text-nowrap text-center" style="width: 1%;">Other actions</th>
          </tr>
        </thead>
        <tbody>
          {% for research in page_obj %}
            <tr>
              <td>{{ research.name }}</td>
              <td>{{ research.created_at|date:"Y-m-d" }}</td>
              <td>{{ research.person_count }}</td>
              <td>{{ research.question_count }}</td>
              <td class="text-nowrap text-center">
                {% if research.is_completed %}
                  <button class="btn btn-sm btn-secondary" disabled>Test completed</button>
                {% else %}
                  <a href="{% url 'conduct-test' pk=research.research_id step=0 %}" class="btn btn-sm btn-primary">Conduct test</a>
                {% endif %}
              </td>
                <td class="text-nowrap text-center">
                 {% if research.is_completed %}
                  <a href="{% url 'research-detail' research.research_id %}" class="btn btn-sm btn-primary">View results</a>
                  {% else %}
                        <a href="{% url 'research-detail' research.research_id %}" class="btn btn-sm btn-dark">View details</a>
                  {% endif %}
                </td>
                 <td class="text-nowrap text-center">
                    <a href="{% url 'delete-research' research.research_id %}" class="btn btn-sm btn-outline-danger">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <nav aria-label="Research pagination">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>

  {% else %}
    <p>No researches found.</p>
  {% endif %}
{% endblock %}
